.tempOne_leftSection{
    width: 45%;
}
.templateOne_right_section{
    width: 45%;
}
.templateOne_cv_container{
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    /* font-family: monospace; */
}
.templateOne_cv_container h2{
    font-size: 19px;
    margin: 10px 0px;
}
.templateOne_cv_container h3{
    font-size: 16px;
    margin: 10px 0px;
}
.templateOne_cv_container .project_name{
    font-size: 14px;
}
.templateOne_cv_container.collage_name {
    font-size: 14px;
}
.templateOne_cv_container .user_name{
    text-align: left;
    font-size: 25px;
    margin: 0px;
}
.templateOne_cv_container .skills{
    width: 80%;
}