.App {
  font-family: sans-serif;
}
.MuiPaper-elevation4{
  box-shadow: none !important;
}
.MuiOutlinedInput-root {
  border-radius: 10px !important;
}
.MuiInputBase-fullWidth {
  width: 75% !important;
}
.MuiButton-containedSecondary ,.MuiButton-containedPrimary {
  color: #fff;
  background-color: black !important;
  font-size: 12px !important;
  padding: 5px 10px !important;
}
.MuiButton-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
  font-size: 11px !important;
  padding: 5px 10px !important;
}

.MuiButton-outlinedPrimary{
  font-size: 12px !important;
  padding: 5px 10px !important;
}

.MuiButton-text {
  padding: 5px 10px !important;
  font-size: 11px !important;
  font-weight: bold !important;
  border: 1px solid gray !important;
}
.MuiPaper-elevation1 {
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}
.save_contine_section{
  margin: 30px 0px;
}
.MuiGrid-spacing-xs-3{
  margin:10px !important
}
.MuiInputLabel-formControl{
  font-size: 14px !important;
}
.MuiInputLabel-outlined {
  z-index: 1;
  /* transform: translate(14px, 15px) scale(1) !important; */
  pointer-events: none;
}
.MuiOutlinedInput-input{
  height: 9px !important;
}
/* .PrivateNotchedOutline-root-9{
top : -3px !important
} */
.MuiInputLabel-formControl{
  top : -4px !important
}
.skill_filed .MuiInputBase-fullWidth{
  width: 100% !important;
}
